<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Application Form</title>

    <style>

    </style>
</head>

<body style="background-image: linear-gradient(to Left, #656972, #A7BFE8)">
    <div>
        <div>
            <h1 style="display:inline-block">Application Form</h1>
            <button id="myBtn">
                <i class="fa fa-question-circle" style="padding-left:5px; color:#fff"> Help</i>
            </button>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Information</h2>
                </div>
                <div class="modal-body">
                    <p>Some definitions of attributes to help you</p>
                    <ul>
                        <li>
                            <span>CreditScore:</span> A number summarizing the creditworthiness of the borrower
                        </li>
                        <li>
                            <span> MIP:</span> The percentage of loss coverage on the loan - Mortgage Insurance
                            Percentage
                        </li>
                        <li>
                            <span>Units:</span> shows whether the mortgage is a 1,2,3 or 4 unit property.
                        </li>
                        <li>
                            <span>OCLTV:</span> Original Combined Loan to Value ratio.
                        </li>
                        <li>
                            <span>DTI:</span> Debt to Income ratio.
                        </li>
                        <li>
                            <span>OrigUPB:</span> The unpaid balance of the mortgage on the note date
                        </li>
                    </ul>
                    and to see more, check pdf on Github
                    <a href="https://github.com/amrahmed-swe/prepayment-predicition-deploy-django/blob/main/Blueprint.pdf"
                        target="_blank">
                        <i class="fa fa-github" style="margin-left:5px; color:black" aria-hidden="true">
                            Blueprint
                        </i>
                    </a>
                </div>
                <div class="modal-footer">
                    <h3>
                        To more information Visit our Github
                        <a href="https://github.com/amrahmed-swe/prepayment-predicition-deploy-django" target="_blank">
                            <i class="fa fa-github" style="margin-left:5px; color:black" aria-hidden="true">
                                Source Code
                            </i>
                        </a>
                    </h3>
                </div>
            </div>

        </div>
        <hr><br>
    </div>

    <form class="toggle" action="{% url 'result' %}">
        {% csrf_token %}
        <div>
            <label>Credit Score</label>
            <input type="number" min="300" max="850" value=300 name="CreditScore" required />
        </div>

        <div>
            <label for="FirstTimeHomebuyer">First Time Home Buyer</label>
            <select class="form-select" id="FirstTimeHomebuyer" required name="FirstTimeHomebuyer">
                <option value=" Y"> Yes</option>
                <option value=" N"> No</option>
            </select>
        </div>

        <div>
            <label for="">Marketing Services Agreement</label>
            <input type="text" maxlength="5" pattern="(\d{5}|X)" id="MSA" name="MSA" required
                placeholder="5 digit number(X if not available)">
        </div>

        <div>
            <label for="MIP">Mortgage Insurance Percentage</label>
            <input type="number" id="MIP" name="MIP" required placeholder="0 to 55" min="0" max="55">
        </div>

        <div>
            <label for="">Units</label>
            <select name="Units" id="units" required style="height:45px">
                <option value="1" class="options">1</option>
                <option value="2" class="options">2</option>
                <option value="3" class="options">3</option>
                <option value="4" class="options">4</option>
            </select>
        </div>

        <div>
            <label for="">Occupancy</label>
            <select name="Occupancy" required id="occupancy" style="height:45px">
                <option value="O" class="options"> Owner occupied</option>
                <option value="I" class="options">Investment property</option>
                <option value="S" class="options">Second home</option>
            </select>
        </div>

        <div>
            <label>Original Combined Loan To Value</label>
            <input type="number" required name="OCLTV" min="0" max="110" value=80 />
        </div>

        <div>
            <label>Debt To Income</label>
            <input type="number" id="DTI" required name="DTI" min="40" max="110" value=40 />
        </div>

        <div>
            <label for="OrigUPB">Original Unpaid balance</label>
            <input class="form-control" type="number" required id="OrigUPB" name="OrigUPB"
                placeholder="10,000 to 272,000" pattern="\d{6}" min="10000" max="272000" value=10000>
        </div>

        <div>
            <label>Original Interest Rate</label>
            <input type="number" min="1" max="9" name="OrigInterestRate" id="OrigInterestRate" required value=1 />
        </div>

        <div>
            <label for="">Channel</label>
            <select name="Channel" required id="Channel" style="height:45px">
                <option value="R" class="options">Retail</option>
                <option value="B" class="options">Broker</option>
                <option value="C" class="options">Correspondent</option>
                <option value="T" class="options">Third Party Organization Not Specified</option>
            </select>
        </div>

        <div>
            <label for="">Prepayment Penalty Mortgage</label>
            <select name="PPM" id="PPM" style="height:45px">
                <option value="Y" class="options">Y</option>
                <option value="N" class="options">N</option>
            </select>
        </div>
        <div>
            <label for="">Property State</label>
            <select id="PropertyState" name="PropertyState">
                <option value=" IL"> IL</option>
                <option value=" CO"> CO</option>
                <option value=" KS"> KS</option>
                <option value=" CA"> CA</option>
                <option value=" NJ"> NJ</option>
                <option value=" WI"> WI</option>
                <option value=" FL"> FL</option>
                <option value=" CT"> CT</option>
                <option value=" GA"> GA</option>
                <option value=" TX"> TX</option>
                <option value=" MD"> MD</option>
                <option value=" MA"> MA</option>
                <option value=" SC"> SC</option>
                <option value=" WY"> WY</option>
                <option value=" NC"> NC</option>
                <option value=" AZ"> AZ</option>
                <option value=" IN"> IN</option>
                <option value=" MS"> MS</option>
                <option value=" NY"> NY</option>
                <option value=" WA"> WA</option>
                <option value=" AR"> AR</option>
                <option value=" VA"> VA</option>
                <option value=" MN"> MN</option>
                <option value=" LA"> LA</option>
                <option value=" PA"> PA</option>
                <option value=" OR"> OR</option>
                <option value=" RI"> RI</option>
                <option value=" UT"> UT</option>
                <option value=" MI"> MI</option>
                <option value=" TN"> TN</option>
                <option value=" AL"> AL</option>
                <option value=" MO"> MO</option>
                <option value=" IA"> IA</option>
                <option value=" NM"> NM</option>
                <option value=" NV"> NV</option>
                <option value=" VT"> VT</option>
                <option value=" OH"> OH</option>
                <option value=" NE"> NE</option>
                <option value=" HI"> HI</option>
                <option value=" ID"> ID</option>
                <option value=" PR"> PR</option>
                <option value=" DC"> DC</option>
                <option value=" GU"> GU</option>
                <option value=" KY"> KY</option>
                <option value=" NH"> NH</option>
                <option value=" SD"> SD</option>
                <option value=" ME"> ME</option>
                <option value=" MT"> MT</option>
                <option value=" OK"> OK</option>
                <option value=" TX"> TX</option>
                <option value=" WV"> WV</option>
                <option value=" DE"> DE</option>
                <option value=" ND"> ND</option>
                <option value=" AK"> AK</option>
            </select>
        </div>

        <div>
            <label for="PropertyType">Property Type</label>
            <select class="form-select" id="PropertyType" name="PropertyType">
                <option value=" SF"> SF</option>
                <option value=" PU"> PU</option>
                <option value=" CO"> CO</option>
                <option value=" MH"> MH</option>
                <option value=" CP"> CP</option>
                <option value=" LH"> LH</option>
                <option value=" X"> X</option>
            </select>
        </div>

        <div>
            <label for="LoanPurpose">Purpose of loan</label>
            <select id="LoanPurpose" name="LoanPurpose">
                <option value=" P"> Purchase mortgage</option>
                <option value=" N"> No cash out reference mortgage </option>
                <option value=" C"> Cash out reference mortgage</option>
            </select>
        </div>

        <div>
            <label for="OrigLoanTerm">Original Loan Term</label>
            <input type="number" id="OrigLoanTerm" name="OrigLoanTerm" min="300" max="370" value="300">
        </div>

        <div>
            <label for="NumBorrowers">Number of Borrowers:</label>
            <select id="NumBorrowers" name="NumBorrowers">
                <option value=" 1"> 1</option>
                <option value=" 2"> 2</option>
            </select>
        </div>

        <div>
            <label for="SellerName">Name of the seller:</label>
            <select id="SellerName" name="SellerName">
                <option value=" FL"> FL</option>
                <option value=" FT"> FT</option>
                <option value=" GM"> GM</option>
                <option value=" Ot"> Ot</option>
                <option value=" RE"> RE</option>
                <option value=" NO"> NO</option>
                <option value=" ST"> ST</option>
                <option value=" CR"> CR</option>
                <option value=" CH"> CH</option>
                <option value=" FI"> FI</option>
                <option value=" HO"> HO</option>
                <option value=" PR"> PR</option>
                <option value=" NA"> NA</option>
                <option value=" PN"> PN</option>
                <option value=" WA"> WA</option>
                <option value=" BA"> BA</option>
                <option value=" G"> G</option>
                <option value=" OL"> OL</option>
                <option value=" AC"> AC</option>
                <option value=" CO"> CO</option>
                <option value=" BI"> BI</option>
            </select>
        </div>

        <div>
            <label for="ServicerName">Name ofThe Bank</label>
            <select class="form-select" id="ServicerName" name="ServicerName">
                <option value=" WASHINGTONMUTUALBANK"> WASHINGTONMUTUALBANK</option>
                <option value=" CHASEHOMEFINANCELLC "> CHASEHOMEFINANCELLC </option>
                <option value=" GMACMTGECORP"> GMACMTGECORP</option>
                <option value=" Other servicers  "> Other servicers </option>
                <option value=" WELLSFARGOBANKNA "> WELLSFARGOBANKNA </option>
                <option value=" ABNAMROMTGEGROUPINC"> ABNAMROMTGEGROUPINC</option>
                <option value=" BANKOFAMERICANA  "> BANKOFAMERICANA </option>
                <option value=" CHASEMANHATTANMTGECO"> CHASEMANHATTANMTGECO</option>
                <option value=" HOMESIDELENDINGINC "> HOMESIDELENDINGINC </option>
                <option value=" CHASEMTGECO "> CHASEMTGECO </option>
                <option value=" WELLSFARGOHOMEMORTGA"> WELLSFARGOHOMEMORTGA</option>
                <option value=" PRINCIPALRESIDENTIAL"> PRINCIPALRESIDENTIAL</option>
                <option value=" CITIMORTGAGEINC  "> CITIMORTGAGEINC </option>
                <option value=" JPMORGANCHASEBANKNA"> JPMORGANCHASEBANKNA</option>
                <option value=" BAMORTGAGELLC   "> BAMORTGAGELLC </option>
                <option value=" NATLCITYMTGECO"> NATLCITYMTGECO</option>
                <option value=" FTMTGESERVICESINC"> FTMTGE SERVICES INC</option>
                <option value=" SUNTRUSTMORTGAGEINC"> SUN TRUST MORTGAGE INC</option>
                <option value=" COUNTRYWIDE"> COUNTRY WIDE</option>
                <option value=" FIFTHTHIRDBANK"> FIFTH THIRD BANK</option>

            </select>
        </div>


        <div>
            <label for="MonthsDelinquent">Months Delinquent</label>
            <input class="form-control" type="number" id="MonthsDelinquent" name="MonthsDelinquent"
                placeholder="MonthsDelinquent" min="0" max="180">
        </div>

        <div>
            <label for="MonthsInRepayment">Months In Repayment</label>
            <input class="form-control" type="number" id="MonthsInRepayment" name="MonthsInRepayment"
                placeholder="MonthsInRepayment" min="1" max="212">
        </div>

        <div></div>
        <input class="submit" type="submit" value="Submit" />
    </form>

    <footer>
        <p>©2022 Developed using Django and Heroku by </p>
        <div class="grid-container-element">
            <div class="grid-child-element purple">
                Amr Ahmed Ramadan
                <a href="https://www.linkedin.com/in/amr-ahmed-ramadan/" target="_blank">
                    <i class="fa fa-linkedin-square" size="45" aria-hidden="true"></i>
                </a>
            </div>

            <div class="grid-child-element purple">
                Monika
                <a href="https://" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>

            <div class="grid-child-element purple" style="border-right:0">
                Rohit
                <a href="http://" target="_blank">
                    <i class="fa fa-linkedin-square" style="color:#0072b1" aria-hidden="true"></i>
                </a>
            </div>

            <div class="grid-child-element right-border-none"></div>

            <div class="grid-child-element right-border-none">
                <span style="color:black; font-size: .95em;">©Source Code</span>
                <a href="https://github.com/amrahmed-swe/prepayment-predicition-deploy-django" target="_blank">
                    <i class="fa fa-github" style="margin-left:5px; color:black" aria-hidden="true"></i>
                </a>
            </div>

            <div class="grid-child-element  right-border-none"></div>
        </div>
    </footer>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>